[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=TRUE
ShowStatusIcon=TRUE
RefreshRate=1000
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=TRUE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=5
SortType=1
WindowWidth=1362
WindowHeight=729
