[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
RefreshRate=2000
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=TRUE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=5
SortType=1
WindowWidth=1918
WindowHeight=1059
