snippet al "Equation align"
\begin{align}
	$1 &= $2
\end{align}$0
endsnippet

snippet alnn "Equation align with numbers"
\begin{align*}
	$1 &= $2
\end{align*}$0
endsnippet

snippet it "item"
\item$0
endsnippet
