.git/
*.log
*.pid
log
mpdstate
sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
email/mutt.symlink/cache/
internet/dwb.config/default/history
internet/dwb.config/default/*.history
internet/dwb.config/default/session
internet/dwb.config/default/cookies*
media/mpdscribble.symlink/lastfm.journal
system/xfce4.config/xfconf/xfce-perchannel-xml/thunar.xml
.imappass
.muttpass
vim.symlink/bundle/*
