[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim.symlink/bundle/nerdtree.vim"]
	path = vim.symlink/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim.symlink/bundle/multiple-cursors.vim"]
	path = vim.symlink/bundle/multiple-cursors.vim
	url = git://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "vim.symlink/bundle/snipmate.vim"]
	path = vim.symlink/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim
    ignore = dirty
[submodule "vim.symlink/bundle/Latex-Box.vim"]
	path = vim.symlink/bundle/Latex-Box.vim
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
    ignore = dirty
[submodule "vim.symlink/bundle/instant-markdown.vim"]
	path = vim.symlink/bundle/instant-markdown.vim
	url = git://github.com/suan/vim-instant-markdown.git
