.git/
*.log
*.pid
log
mpdstate
git/gitconfig.symlink
email/mutt.symlink/cache/
email/mutt.symlink/aliases_auto
internet/dwb.config/default/history
internet/dwb.config/default/*.history
internet/dwb.config/default/session
internet/dwb.config/default/cookies*
media/mpdscribble.symlink/lastfm.journal
system/xfce4.config/xfconf/xfce-perchannel-xml/thunar.xml
vim.symlink/undodir/
**/.imappass
**/.muttpass
vim.symlink/bundle/
system/spacefm.config/session*
