[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim.symlink/bundle/nerdtree.vim"]
	path = vim.symlink/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim.symlink/bundle/Latex-Box.vim"]
	path = vim.symlink/bundle/Latex-Box.vim
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
    ignore = dirty
[submodule "vim.symlink/bundle/supertab.vim"]
	path = vim.symlink/bundle/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule "vim.symlink/bundle/ultisnips.vim"]
	path = vim.symlink/bundle/ultisnips.vim
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim.symlink/bundle/signify.vim"]
	path = vim.symlink/bundle/signify.vim
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim.symlink/bundle/airline.vim"]
	path = vim.symlink/bundle/airline.vim
	url = https://github.com/bling/vim-airline.git
